<a href="https://colab.research.google.com/github/John-Nidarshan/cmp7005_AirQualityProject/blob/main/cmp7005_Colab_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Clonning the Repo

In [2]:
!git config --global user.name "John-Nidarshan"
!git config --global user.email "jhonnidarshan@gmail.com"

In [3]:
!git clone https://github.com/John-Nidarshan/cmp7005_AirQualityProject.git

Cloning into 'cmp7005_AirQualityProject'...
remote: Enumerating objects: 62, done.
remote: Counting objects: 100% (62/62), done.
remote: Compressing objects: 100% (53/53), done.
remote: Total 62 (delta 23), reused 30 (delta 5), pack-reused 0 (from 0)
Receiving objects: 100% (62/62), 1.97 MiB | 4.15 MiB/s, done.
Resolving deltas: 100% (23/23), done.

In [4]:
%cd cmp7005_AirQualityProject
!ls

/content/cmp7005_AirQualityProject
cmp7005_Colab_main.ipynb  DATA

In [5]:
import os
import pandas as pd
import glob


print(os.listdir("DATA"))

['Hyderabad_data.csv', 'Guwahati_data.csv', 'Amaravati_data.csv', 'Visakhapatnam_data.csv', 'air_quality_preprocessed_for_model.csv', 'Mumbai_data.csv', 'Kolkata_data.csv', 'air_quality_preprocessed.csv', 'Aizawl_data.csv', 'Thiruvananthapuram_data.csv', 'Amritsar_data.csv', 'Jorapokhar_data.csv', 'Jaipur_data.csv', 'Chennai_data.csv', 'Kochi_data.csv', 'Ahmedabad_data.csv', 'Bhopal_data.csv', 'Lucknow_data.csv', 'Ernakulam_data.csv', 'Gurugram_data.csv', 'Delhi_data.csv', 'Brajrajnagar_data.csv', 'merged_cleaned_air_quality.csv', 'Chandigarh_data.csv', 'Coimbatore_data.csv', 'Shillong_data.csv', 'Bengaluru_data.csv', 'Talcher_data.csv', 'Patna_data.csv']

Merging csv files

In [7]:
# Path to all CSV files in data folder
files = glob.glob("DATA/*.csv")

dfs = []
for file in files:
    df = pd.read_csv(file)
    dfs.append(df)

# Merge all CSVs into one DataFrame
merged_df = pd.concat(dfs, ignore_index=True)

# Display results
print("Merged shape:", merged_df.shape)
merged_df.head(15)

Merged shape: (149334, 18)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Year,Month
0,Hyderabad,04/01/2015,NaN,NaN,3.70,17.19,20.89,NaN,0.30,2.58,30.34,0.41,6.15,1.11,NaN,NaN,NaN,NaN
1,Hyderabad,05/01/2015,NaN,NaN,3.61,9.69,13.30,NaN,0.23,5.19,31.28,0.39,7.22,0.55,NaN,NaN,NaN,NaN
2,Hyderabad,06/01/2015,NaN,NaN,4.21,22.02,26.23,NaN,0.31,9.09,28.56,0.52,5.14,0.53,NaN,NaN,NaN,NaN
3,Hyderabad,07/01/2015,NaN,NaN,26.08,40.08,66.15,NaN,0.53,9.03,31.08,1.92,16.35,2.14,NaN,NaN,NaN,NaN
4,Hyderabad,08/01/2015,NaN,NaN,10.31,33.02,43.33,NaN,0.44,8.47,35.72,1.89,14.27,1.58,NaN,NaN,NaN,NaN
5,Hyderabad,09/01/2015,NaN,NaN,8.79,31.60,40.39,NaN,0.39,8.92,34.77,0.77,12.47,1.22,NaN,NaN,NaN,NaN
6,Hyderabad,10/01/2015,NaN,NaN,8.12,32.52,40.64,NaN,0.43,9.59,34.63,1.14,14.06,1.27,NaN,NaN,NaN,NaN
7,Hyderabad,11/01/2015,NaN,NaN,14.00,31.96,45.96,NaN,0.39,12.53,38.74,1.02,10.40,1.23,NaN,NaN,NaN,NaN
8,Hyderabad,12/01/2015,NaN,NaN,13.26,30.20,43.46,NaN,0.48,8.58,20.94,0.92,15.16,1.19,NaN,NaN,NaN,NaN
9,Hyderabad,13/01/2015,NaN,NaN,33.63,23.37,57.00,NaN,0.72,3.01,13.66,2.05,17.65,1.88,NaN,NaN,NaN,NaN
10,Hyderabad,14/01/2015,NaN,NaN,32.00,23.01,55.00,NaN,0.86,1.77,6.14,1.45,24.04,2.78,NaN,NaN,NaN,NaN
11,Hyderabad,15/01/2015,NaN,NaN,16.05,22.18,38.22,NaN,0.64,2.23,9.29,1.10,9.19,1.50,NaN,NaN,NaN,NaN
12,Hyderabad,16/01/2015,NaN,NaN,11.73,19.17,30.90,NaN,0.47,2.82,19.01,0.95,7.13,1.19,NaN,NaN,NaN,NaN
13,Hyderabad,17/01/2015,NaN,NaN,20.28,20.48,40.76,NaN,0.61,2.65,52.25,1.42,15.21,1.96,NaN,NaN,NaN,NaN
14,Hyderabad,18/01/2015,NaN,NaN,13.45,21.93,35.37,NaN,0.55,2.55,7.87,1.01,14.27,1.88,NaN,NaN,NaN,NaN

In [8]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [10]:
merged_df.to_csv("DATA/merged_cleaned_air_quality.csv", index=False)
print("Saved merged file → DATA/merged_cleaned_air_quality.csv")

Saved merged file → DATA/merged_cleaned_air_quality.csv

In [11]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   DATA/merged_cleaned_air_quality.csv

no changes added to commit (use "git add" and/or "git commit -a")