<a href="https://colab.research.google.com/github/John-Nidarshan/cmp7005_AirQualityProject/blob/main/cmp7005_Colab_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Clonning the Repo

In [9]:
!git config --global user.name "John-Nidarshan"
!git config --global user.email "jhonnidarshan@gmail.com"

In [2]:
!git clone https://github.com/John-Nidarshan/cmp7005_AirQualityProject.git

Cloning into 'cmp7005_AirQualityProject'...
remote: Enumerating objects: 44, done.
remote: Counting objects: 100% (44/44), done.
remote: Compressing objects: 100% (40/40), done.
remote: Total 44 (delta 4), reused 29 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (44/44), 1.06 MiB | 20.05 MiB/s, done.
Resolving deltas: 100% (4/4), done.

In [4]:
%cd cmp7005_AirQualityProject
!ls

[Errno 2] No such file or directory: 'cmp7005_AirQualityProject'
/content/cmp7005_AirQualityProject
cmp7005_Colab_main.ipynb  DATA

In [6]:
import os
import pandas as pd
import glob


print(os.listdir("DATA"))

['Jaipur_data.csv', 'Thiruvananthapuram_data.csv', 'Bengaluru_data.csv', 'Jorapokhar_data.csv', 'Amritsar_data.csv', 'Talcher_data.csv', 'Shillong_data.csv', 'Ahmedabad_data.csv', 'Brajrajnagar_data.csv', 'Coimbatore_data.csv', 'Aizawl_data.csv', 'Guwahati_data.csv', 'Amaravati_data.csv', 'Mumbai_data.csv', 'Kolkata_data.csv', 'Kochi_data.csv', 'Lucknow_data.csv', 'Bhopal_data.csv', 'Patna_data.csv', 'Ernakulam_data.csv', 'Chennai_data.csv', 'Delhi_data.csv', 'Hyderabad_data.csv', 'Visakhapatnam_data.csv', 'Chandigarh_data.csv', 'Gurugram_data.csv']

Merging csv files

In [8]:
# Path to all CSV files in data folder
files = glob.glob("DATA/*.csv")

dfs = []
for file in files:
    df = pd.read_csv(file)
    dfs.append(df)

# Merge all CSVs into one DataFrame
merged_df = pd.concat(dfs, ignore_index=True)

# Display results
print("Merged shape:", merged_df.shape)
merged_df.head(15)

Merged shape: (29531, 16)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Jaipur,14/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jaipur,15/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jaipur,16/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jaipur,17/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jaipur,18/06/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Jaipur,19/06/2017,64.78,99.43,24.97,10.69,NaN,4.73,0.73,7.29,11.10,0.00,0.57,NaN,NaN,NaN
6,Jaipur,20/06/2017,70.10,75.55,10.55,6.16,NaN,8.17,0.81,9.02,13.83,0.00,0.26,NaN,149.0,Moderate
7,Jaipur,21/06/2017,67.50,93.80,10.29,2.98,NaN,5.10,0.71,9.26,38.19,0.00,0.33,NaN,126.0,Moderate
8,Jaipur,22/06/2017,24.80,31.95,10.17,3.11,NaN,5.04,0.74,8.89,44.67,0.00,0.33,NaN,85.0,Satisfactory
9,Jaipur,23/06/2017,32.30,47.40,9.64,3.27,NaN,3.80,0.68,8.39,39.16,0.00,0.17,NaN,62.0,Satisfactory
10,Jaipur,24/06/2017,55.36,73.69,32.81,1.68,NaN,13.26,0.77,9.33,10.76,0.00,0.00,NaN,77.0,Satisfactory
11,Jaipur,25/06/2017,47.62,79.52,NaN,0.01,NaN,0.89,0.73,9.15,9.38,NaN,NaN,NaN,86.0,Satisfactory
12,Jaipur,26/06/2017,61.34,100.61,NaN,0.07,NaN,1.19,1.01,8.55,13.56,NaN,NaN,NaN,90.0,Satisfactory
13,Jaipur,27/06/2017,36.51,65.54,NaN,NaN,NaN,0.63,0.82,9.33,4.17,NaN,NaN,NaN,85.0,Satisfactory
14,Jaipur,28/06/2017,19.66,23.81,4.32,6.36,NaN,0.34,0.86,8.56,1.34,0.03,0.69,NaN,59.0,Satisfactory

In [10]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [11]:
!git add .